USE [master]
GO
/****** Object:  Database [WINGSDB]    Script Date: 8/5/2026 6:44:50 PM ******/
CREATE DATABASE [WINGSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WINGSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTDB\MSSQL\DATA\WINGSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WINGSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTDB\MSSQL\DATA\WINGSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WINGSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WINGSDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/5/2026 6:44:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/5/2026 6:44:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/5/2026 6:44:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[IsTrending] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2026 6:44:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](250) NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260804112555_InitialCreate', N'9.0.18')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260805062316_UpdateProduct', N'9.0.18')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260805074517_UpdateUserEntity', N'9.0.18')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [ImageUrl]) VALUES (2, N'Foldable Drone', N'Foldable Drone with HD Camera 4K Recording FPV Live Feed Gesture Control Selfie Mode Altitude Stability One Touch Takeoff Landing RC Drone for Kids Beginners Adults', N'/uploads/categories/bef32287-91e7-47dc-9d7b-3f7795aba91d.jpg')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [ImageUrl]) VALUES (3, N'Helicopter with Radio Remote', N'Helicopter with Radio Remote Control and Hand Sensor Charging Helicopter 2 in 1 Toys with 3D Light Toys for Boys Kids (Indoor & Outdoor Flying)(Multicolour) | Radio Remote Control, Hand Sensor ', N'/uploads/categories/ea00ba8e-9a44-492f-9ce0-2411aac60ed4.jpg')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [ImageUrl]) VALUES (4, N'Multi-rotor drones', N'A multirotor drone is an unmanned aircraft that uses three or more rotors to fly. It can take off and land straight up, and stay still in the air. Common types include quadcopters (four rotors) and hexacopters (six rotors), used for photos, mapping, and delivery.', N'/uploads/categories/38eba9d0-0827-46fd-a238-5da972991125.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Stock], [ImageUrl], [CategoryId], [Brand], [IsActive], [IsFeatured], [IsTrending]) VALUES (2, N'Fold X', N'a mix of names commonly used by white-label budget manufacturers, or a slight misremembering of the popular TuneFit AeroX 4K Brushless Foldable Drone.', CAST(15000.00 AS Decimal(18, 2)), 5, N'/uploads/products/63401f92-2546-4a78-a529-8c0f7386262e.jpg', 2, N'AeroNova', 1, 1, 1)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Stock], [ImageUrl], [CategoryId], [Brand], [IsActive], [IsFeatured], [IsTrending]) VALUES (5, N'Multirotor Drones & UAV ', N'A multirotor drone is an unmanned aircraft that uses three or more rotors to fly. It can take off and land straight up, and stay still in the air. Common types include quadcopters (four rotors) and hexacopters (six rotors), used for photos, mapping, and delivery.', CAST(25000.00 AS Decimal(18, 2)), 10, N'/uploads/products/d6f37d61-c32c-4c71-aec3-65c28a62bcfa.jpg', 4, N'Draganfly ', 0, 0, 0)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Stock], [ImageUrl], [CategoryId], [Brand], [IsActive], [IsFeatured], [IsTrending]) VALUES (6, N'E88', N'Foldable quadcopter (easy to carry', CAST(18500.00 AS Decimal(18, 2)), 4, N'/uploads/products/b14afbeb-3261-43ba-8735-66009bf409b8.jpg', 2, N'DJI', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [Address], [Role], [CreatedDate], [IsActive]) VALUES (1, N'TN', N'tn@gmail.com', N'1234', N'8918924229', N'kolkata', N'Customer', CAST(N'2026-08-05T13:26:41.3466327' AS DateTime2), 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [Address], [Role], [CreatedDate], [IsActive]) VALUES (2, N'Admin', N'admin@wings.com', N'admin123', N'9999999999', N'Kolkata', N'Admin', CAST(N'2026-08-05T15:21:58.9833333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 8/5/2026 6:44:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsTrending]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
USE [master]
GO
